*{
  box-sizing:border-box
}
body{
  color:var(--text, #111);
  background-color:var(--background, #fefefe);
  width:30em;
  max-width: 100%;
  accent-color: var(--accent, #0d5c63);
}
h1 img{
  height: 1.2em;
  margin-left: .5em;
}
.profiles{
  display:flex;
  align-items: center;
  gap:0.5em;
}
.profiles:has(#readerViewA:checked) ~ .profileA,
.profiles:has(#readerViewB:checked) ~ .profileB,
.profiles:has(#readerViewC:checked) ~ .profileC{
  display: block;
}
.button{
  font-size: 1.2em;
  border:.1em solid currentColor;
  padding:.5em 1em;
  font-weight: bold;
  width:100%;
  text-align: center;
}
button.button{
  width:15em;
  border-radius:.4em;
  display:block;
  margin:.5em auto;
  background-image:linear-gradient(hsl(236, 47%, 94%), hsl(236, 47%, 84%) 80%);
  border:.1em solid hsl(185, 77%, 20%);
  text-shadow: 1px 1px hsl(236, 47%, 84%), -1px -1px hsl(236, 47%, 94%);
  color:#0a3d3d;
}
button.button:hover,
button.button:focus-visible{
  background-image:linear-gradient(hsl(236, 47%, 84%) 20%, hsl(236, 47%, 94%));
}
button.button.active{
  background-image:linear-gradient(hsl(185, 77%, 27%) 20%, hsl(185, 77%, 22%));
  color:#eee;
  border:.1em solid hsl(185, 17%, 20%);
  text-shadow: 1px 1px hsl(185, 77%, 20%), -1px -1px hsl(185, 77%, 27%);
}
button.button.active:hover,
button.button.active:focus-visible{
  background-image:linear-gradient(hsl(185, 77%, 22%), hsl(185, 77%, 27%) 80%);
}
input[role="menuitemradio"]:focus + .button{
  outline:2px solid Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}
.profiles input{
  appearance: none;
  -webkit-appearance: none;
  height: 1px;
  width: 1px;
  position: absolute;
  opacity:0;
}
.profiles input:checked + label:not(:focus) {
  outline: .2em solid var(--accent, #0d5c63);
  /* box-shadow: 0 0.4em 0.25em -0.3em var(--text, #111); */
}
fieldset, details{
  margin: 1.5em 0 0;
  padding: 0.75em;
  border: 2px groove;
}
legend, summary{
  font-weight: bold;
  font-size:1.2em;
}
details[open] summary{
  margin-bottom: 1em;
}
details:hover {
  cursor: pointer;
}
.selectStyles{
  display:table;
  border-spacing:.5em;
  width:100%;
}
.selectStyles label{
  display:table-row;
}
.selectStyles label > span{
  display:table-cell;
  vertical-align: top;
  width: 50%;
  height: 2em;
}
input[type="text"],
input[type="range"],
input[type="color"],
select{
  width: 100%;
}
input[type="color"] {
  background: none;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: 1ps solid;
}
.emc-credit{
  text-align: end;
}
.emc-credit img{
  height: 2em;
  vertical-align: middle;
}
/* hide values */
label span span[id]{
  display:none
}
.resetStyles {
  margin: 1em 0 0 0 ;
}

@media (prefers-color-scheme: dark) {
  :root{
    --text: #eee;;
    --background: #333;
    --accent: #a9c5a5;
  }
}
