body{
  width:30em;
  max-width: 100%;
}
h1 img{
  height: 1.2em;
  margin-left: .5em;
}
.profiles{
  margin:0;
  padding:0;
  display:grid;
  text-align: center;
}
.profiles button{
  grid-column:  1 / 4
}
menu:has(#readerViewA:checked) ~ .profileA,
menu:has(#readerViewB:checked) ~ .profileB,
menu:has(#readerViewC:checked) ~ .profileC{
  display: block;
}
.button{
  font-size: 1.2em;
  border:.1em solid currentColor;
  padding:.4em .5em;
  margin:.2em;
  font-weight: bold;
}
.button:focus-within{
  outline:2px solid Highlight;
  outline: auto 5px -webkit-focus-ring-color;
}
.profiles input{
  appearance: none;
  -webkit-appearance: none;
  height: 1px;
  width: 1px;
  position: absolute;
  opacity:0;
}
fieldset {
  margin-top: 1.5em;
}
legend{
  font-weight: bold;
  font-size:1.2em;
}
.selectStyles{
  display:table;
  border-spacing:.5em;
  width:100%;
}
.selectStyles label{
  display:table-row;
}
.selectStyles label > span{
  display:table-cell;
  vertical-align: top;
  width: 50%;
  height: 2em;
}
input[type="range"],
input[type="color"],
select{
  width: 100%;
}
.emc-credit{
  text-align: end;
}
.emc-credit img{
  height: 2em;
  vertical-align: middle;
}
@media (prefers-color-scheme: dark) {
  body{
    background:#333;
    color: #eee;
  }
}
